@import '../../bower_components/meetup-swatches/sass/colors';
@import '../../bower_components/sassquatch2/sass/globals';
@import '../../bower_components/sassquatch2/sass/util';
@import 'icons';
@import 'nav';

$C_contentBGInvertedAccent: #180F3B;

//
// TO BE CONSIDERED AS GLOBAL CHANGES
//
.runningText {
	p {
		max-width: 40em;
	}
}

.toggleButton--lg .toggleButton-label {
	font-size: 16px !important;
	// padding: 4px 8px !important;
}

.input--withIcon {
	background-position: $space-half center; // For RTL? idk
	background-repeat: no-repeat;
	background-size: $media-xs;
	padding-left: $media-xs + $space;
}

.inlineBulletList li {

	&:after {
		content: '·';
		padding-left: $space-half;
	}

	&:last-child {
		&:after {
			display: none;
		}
	}

}

.attachment .row-item:first-child {
	padding-left: 0;
}

.toggleButton-input:checked + .toggleButton-label:hover {
	color: $C_link;
	use {
		fill: $C_link;
	}
}

$dotTimeBase: 500;
.endlessLoader, .endlessLoader:before, .endlessLoader:after {
  -webkit-animation: dotAnim #{$dotTimeBase}ms ease -#{$dotTimeBase/4}ms infinite alternate;
  animation: dotAnim #{$dotTimeBase}ms ease -#{$dotTimeBase/4}ms infinite alternate;
  background: $C_border;
  border-radius: 100%;
  content: "";
  height: $space-half;
  position: relative;
  width: $space-half;
}

.endlessLoader:before {
  position: absolute;
  left: -$space;
  -webkit-animation: dotAnim #{$dotTimeBase}ms ease -#{$dotTimeBase/2}ms infinite alternate;
  animation: dotAnim #{$dotTimeBase}ms ease -#{$dotTimeBase/2}ms infinite alternate;
}

.endlessLoader:after {
  position: absolute;
  left: $space;
  -webkit-animation: dotAnim #{$dotTimeBase}ms ease infinite alternate;
  animation: dotAnim #{$dotTimeBase}ms ease infinite alternate;
}
@-webkit-keyframes dotAnim {
  to {
    background: black;
    box-shadow: -1px 0 0 1px $C_textPrimary;
  }
}
@keyframes dotAnim {
  to {
    background: black;
    box-shadow: -1px 0 0 1px $C_textPrimary;
  }
}

.atLarge_margin--left {
	@include atMediaUp(large) {
		margin-left: $space;
	}
}

.border--left {
	border-left: 1px solid $C_border;
}

.span--100 {
	width: 100%;
}

.text--wrangleLarge {
	font-size: calc(2vw + 2vh + 1vmin);

	@include atMediaUp(medium) {
		font-size: $font-size-display2;
	}
}

.text--wrangleLarge2 {
	font-size: $font-size-display2;

	@include atMediaUp(medium) {
		font-size: $font-size-display3;
	}
}

//
// PAGE-SPECIFIC
//

.titleFilter {
	border-bottom: 2px solid $C_link;
}

.stripe--start {
	background-image: url('../../assets/img/swarm.png');
	background-color: $C_contentBGInvertedAccent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1100px 333px;
	border-radius: 3px;
	box-sizing: border-box;

	// Funky layout stuff that might be fragile. Talk to Adam D
  display: flex;
  justify-content: center;
  align-items: center;

		@include atMediaUp(large) {
			&.spreadable-item {
					flex-basis: 33%;
			}
		}
}

.mugPhotos {
	max-width: $block-6;
	height: $space-6;
	width: 100%;
	@include atMediaUp(large) {
		width: $block-5;
		height: $space-6;
		//width: 100%;
	}
	&--sm {
		width: percentage(1/3);
	}
	&--lg {
		width: percentage(2/3);
	}
}

.text--countdown {
	width: $media-m;
}

.icon--inlineBodyText {
	height: $font-size;
	width: $font-size;
}

//
// PROTOTYPE-SPEICIFIC
//
.hasNav {
	#main .view-head {
		display: none !important;
	}
}

.view--modal-snap {
	.stripe:first-child {
		padding-top: $view-head-height;
		@include atMediaUp(medium) {
			padding-top: $view-head-height-tablet;
		}
	}
}

.toggleButton-input + .toggleButton-label {
	.follow-inactive {
		display: inline;
	}
	.follow-active {
		display: none;
	}
}

.toggleButton-input:checked + .toggleButton-label {
	use {
		fill: white;
	}
	.follow-inactive {
		display: none;
	}
	.follow-active {
		display: inline;
	}
}
