@import '../../bower_components/meetup-swatches/sass/colors';
@import '../../bower_components/sassquatch2/sass/globals';
@import '../../bower_components/sassquatch2/sass/util';
@import 'icons';

$C_contentBGInvertedAccent: #180F3B;

//
// TO BE CONSIDERED AS GLOBAL CHANGES
//
.runningText {
	max-width: 40em;
}

.toggleButton--lg .toggleButton-label {
	font-size: 16px !important;
	// padding: 4px 8px !important;
}

.input--withIcon {
	background-position: $space-half center; // For RTL? idk
	background-repeat: no-repeat;
	background-size: $media-xs;
	padding-left: $media-xs + $space;
}

.buttonList--small li {
	padding-bottom: $space-half;
}

.attachment .row-item:first-child {
	padding-left: 0;
}

//
// PAGE-SPECIFIC
//
.primaryTopic {
	border-bottom: 2px solid $C_link;
}

.toggleButton--follow .toggleButton-label {
	padding: $space-half !important;
	@include atMediaUp(medium) {
		padding: $space-quarter $space-half !important;
	}
}

.stripe--start {
	background-image: url('../../assets/img/swarm.png');
	background-color: $C_contentBGInvertedAccent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1100px 333px;
}

.mugPhotos {
	max-width: $block-6;
	height: $space-6;
	width: 100%;
	@include atMediaUp(large) {
		width: $block-5;
		height: $space-6;
		//width: 100%;
	}
	&--sm {
		width: percentage(1/3);
	}
	&--lg {
		width: percentage(2/3);
	}
}

.text--countdown {
	width: $media-m;
}
